body {
    font-family: 1em Roboto;
}

.topSection {
    background-color: #1F2937;
    color: white;
    padding-left: 80px;
    padding-bottom: 80px;
    padding-right: 80px;
}

.headerAndIntroduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-bottom: 30mm;
    margin-top: 5mm;
}

.headerLinks {
    display: flex;
    justify-content: space-between;
    gap: 12px;

}

.headerLogo {
    font-size: 30px;
}

.introduction {
    flex: 1.2 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: stretch;
}

.introduction div {
    flex: 1;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.signUpButton {
    width: 20mm;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 5mm;
}

.introduction .title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.introduction .subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 5mm;
}